body {
    /*background-color:cadetblue;
    text-align:center;*/
    
}

.Primer {
    background-color: antiquewhite;
    justify-content: center;
    text-align: center;
    width: 500px;
}

.Segundo {
    background-color: cadetblue;
    text-align: center;
    width: 500px;
}